
.fam{
    font-family: "Italianno", cursive;

}
.fam2{
    font-family: "Sour Gummy", sans-serif;
}
h1{
    font-size: 80px;
    font-weight: 900;
}
#demo{
    font-size: 40px;
    font-weight: 400;
    padding-top: 20px;
    
}